@import '../../globals/variables.scss';

.tagList {
  list-style: none;
  margin: 0;

  @media (min-width: $md) {
    columns: 2;
  }
}

.tagItem {
  padding: 0;
  display: inline-block;
  width: 100%;
}

.tagName {
  font-weight: 700;
  box-shadow: 0 -0.5em 0 inset $primary;

  @media (min-width: $md) {
    font-size: 1.1rem;
  }
}

.numberOfPosts {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}