@import "../../globals/imports.scss";

.tagList {
  list-style: none;
  margin: 0;

  @media (min-width: $md) {
    columns: 2;
  }

  @media (min-width: $lg) {
    columns: 3;
  }
}

.tagItem {
  padding: 0;
  display: inline-block;
  width: 100%;

  @media (min-width: $md) {
    margin: rem(10px) 0;
  }
}

.tagName {
  font-family: $heading;
  font-weight: $bold;
  color: var(--textColor);
  transition: color 200ms;

  &:hover,
  &:focus {
    color: var(--primary);
  }

  @media (min-width: $md) {
    font-size: rem(22px);
  }
}

.numberOfPosts {
  font-size: rem(15px);
  font-family: $heading;
  margin-left: rem(10px);
  color: var(--primary);

  @media (min-width: $md) {
    font-size: rem(16px);
  }
}
