@import "../globals/imports.scss";

.postHeader {
  margin-bottom: rem(20px);

  @media (min-width: $md) {
    margin-bottom: rem(40px);
  }
}

.src {
  display: block;
  font-family: $heading;
}

.postHeading {
  margin: 0;
  font-size: rem(28px);
  max-width: rem(1100px);

  @media (min-width: $md) {
    font-size: rem(40px);
  }

  @media (min-width: $lg) {
    font-size: rem(56px);
  }
}

.seriesTitle {
  margin-bottom: 1rem;
  margin-top: 0;

  @media (min-width: $md) {
    font-size: rem(24px);
  }
}

.postHeader {
  > * + * {
    margin-top: rem(10px);
  }
}

.richtext {
  h2 {
    margin-bottom: 1.5rem;
  }

  h3,
  h4,
  h5 {
    margin-bottom: 1.2rem;
  }

  * + h2 {
    margin-top: 2.5rem;
  }

  * + h3,
  * + h4,
  * + h5 {
    margin-top: 2rem;
  }

  img {
    margin-bottom: 0;
  }

  * + p {
    margin-top: 1rem;
  }

  a,
  link {
    color: $primary;
  }

  figure {
    margin: 0 0 rem(20px) 0;
  }

  @media (min-width: $md) {
    font-size: rem(22px);
  }
}

figcaption > * {
  &:first-child:not(:last-child) {
    margin-right: 0.5rem;
  }
}

blockquote {
  border-left: 4px solid $primary;
}

aside {
  padding: 1rem;
  font-size: 0.9rem;
  background-color: $bg-light;

  p:last-child {
    margin: 0;
  }

  h4:first-child {
    margin: 0 0 0.8rem;
  }

  @media (min-width: $md) {
    font-size: rem(18px);
  }
}

.link {
  font-size: rem(18px);
  font-family: $heading;
  font-weight: $bold;
  border-bottom: 0.1em solid $primary;
  color: $black;
  text-decoration: none;
  display: inline-block;
  transition: color 200ms;

  &:hover,
  &:focus {
    color: $primary;
  }

  svg {
    width: 1rem;
    display: inline;
    margin-left: rem(10px);
  }

  @media (min-width: $md) {
    font-size: rem(20px);
  }
}

.adBlock {
  display: flex;
  justify-content: center;
  margin-top: rem(40px);

  @media (min-width: $md) {
    font-size: rem(60px);
  }
}
