@import '../globals/variables.scss';

.src {
  font-size: 0.8rem;
}

.postHeading {
  margin-top: 0;

  @media (min-width: 60em) {
    font-size: 3rem;
  }
}

.seriesTitle {
  margin-bottom: 1rem;

  @media (min-width: 60em) {
    font-size: 1.3rem;
  }
}

.richtext {
  h2 {
    margin-bottom: 1.5rem;
  }

  h3,
  h4,
  h5 {
    margin-bottom: 1.2rem;
  }

  * + h2 {
    margin-top: 2.5rem;
  }

  * + h3,
  * + h4,
  * + h5 {
    margin-top: 2rem;
  }

  img {
    margin-bottom: 0;
  }

  * + p {
    margin-top: 1rem;
  }
}

blockquote {
  border-left: 4px solid $primary;
}

aside {
  padding: 1rem;
  font-size: 0.9rem;
  background-color: $bg-light;

  p:last-child {
    margin: 0;
  }

  h4:first-child {
    margin: 0 0 0.8rem;
  }
}





