@import "../globals/imports.scss";

.pagination {
  margin-top: rem(40px);
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lighten($black, 50%);
  font-family: $heading;
  font-weight: $bold;
  font-size: rem(20px);

  @media (min-width: $lg) {
    margin-top: 3rem;
  }
}

.paginationLinkNext:first-child:last-child {
  margin-left: auto;
}

.paginationLinkPrevious:first-child:last-child {
  margin-right: auto;
}

.paginationLinkNext,
.paginationLinkPrevious {
  color: var(--primary);
  transition: color 200ms, border 200ms;
  border-bottom: 2px solid transparent;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--textColor);
    border-bottom: 2px solid var(--textColor);
  }
}

.searchTags {
  margin-left: auto;
}

.searchTags a {
  font-family: $heading;
  font-weight: $bold;
  color: var(--textColor);
  border-bottom: 2px solid var(--primary);
  text-decoration: none;
  transition: color 200ms;

  &:hover,
  &:focus {
    color: var(--primary);
  }

  @media (min-width: $md) {
    font-size: rem(20px);
  }
}

.header {
  border-bottom: 1px solid lighten($black, 80%);
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  @media (min-width: $md) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $xl) {
    margin-bottom: 2rem;
  }
}

.postsCount {
  margin-top: 1rem;
  font-weight: $std;

  @media (min-width: $md) {
    margin: 0;
  }
}

.postItemFeatured {
  @media (min-width: $md) {
    grid-column: span 2;
  }

  @media (min-width: $lg) {
    grid-column: span 3;
  }
}

.resultTitle {
  @media (min-width: $md) {
    font-size: rem(40px);
  }
}
