@import "../../globals/imports.scss";

.tagList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: $heading;
}

.tagItem {
  &::marker {
    display: none;
  }
}

.tagItem:not(:last-child) {
  margin-right: 0.75rem;

  @media (min-width: $md) {
    margin-right: 1rem;
  }
}

.tagName {
  display: block;
  background-color: var(--primary);
  color: var(--textColorInverse);
  transition: background-color 200ms, color 200ms;
  padding: 0 rem(5px);
  text-decoration: none;
  border-radius: 0.1rem;

  &:hover,
  &:focus {
    color: var(--primary);
    background-color: var(--textColor);
  }
}
