@import '../../globals/variables.scss';

@media (min-width: $xl) {
  .headroom {
    top: 0;
    left: 0;
    right: 0;
    z-Index: 2;
    transform: opacity 0ms ease-in-out;
    position: fixed;
    opacity: 0;
    padding: 0.5rem 1rem;
    background-color: $white;
    border-bottom: 1px solid $light-grey;
    transition: transform 200ms ease-in-out, opacity 0ms ease-in-out;
    transform: translateY(-100%);
  }

  .headroom--scrolled {
    transform: translateY(0);
    opacity: 1;
  }

  // .headroom--pinned {
  //   transform: translateY(0);
  //   opacity: 1;
  // }
}