@import "../../globals/imports.scss";

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: $bg-dark;

  > * {
    margin: rem(10px) 0;
    padding: 0 rem(20px);
  }

  a {
    color: $white;
    transition: color 200ms;

    &:hover,
    &:focus {
      color: deeppink;
    }
  }

  @media (min-width: $md) {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
}
