@import "../../globals/imports.scss";

@mixin hoverState {
  &:hover,
  &:focus {
    .title {
      color: var(--primary);
    }
  }
}

.content {
  margin: 0;
}

.title {
  margin-bottom: 0.5rem;
  margin-top: 0;
  line-height: 1.4;
  transition: color 200ms;

  span {
    border-bottom: 0.1em solid var(--primary);
  }

  svg {
    display: inline;
    width: 1rem;
    margin-left: 1rem;
    fill: var(--textColor);
  }
}

.date {
  margin: rem(20px) 0 rem(20px);
  display: block;
  font-size: 0.8rem;
  font-family: $heading;

  @media (min-width: $md) {
    font-size: rem(15px);
  }
}

.seriesTitle {
  margin: 0 0 0.5rem 0;
}

.regularPost {
  @include hoverState;

  .title {
    @media (min-width: $md) {
      font-size: rem(28px);
    }
  }

  .content {
    @media (min-width: $xl) {
      font-size: rem(18px);
    }
  }
}

.featuredPost {
  @include hoverState;
  position: relative;

  .title {
    max-width: 35ch;
  }

  @media (min-width: $md) {
    padding: rem(80px) rem(40px) rem(40px) rem(40px);
    background-color: var(--bgTint);
    display: block;

    p {
      font-size: rem(22px);
      max-width: 75ch;
    }

    .title {
      font-size: rem(40px);
    }

    .date {
      font-size: rem(16px);
    }
  }
}

.featured {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--textColorInverse);
  background-color: var(--primary);
  padding: rem(5px) rem(5px);
  margin: 0;

  @media (min-width: $md) {
    display: block;
  }
}
