.content {
  font-size: 0.9rem;
}

.title {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.date {
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 0.8rem;
}

svg {
  display: inline;
  width: 1rem;
  margin-left: 1rem;
}