// .hl {
//   background: linear-gradient(to top, #95e8ed, #95e8ed 40%, transparent 40%);
// }

.title {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.date {
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 0.8rem;
}