@import "../../globals/imports.scss";

.link {
  display: inline-block;
  font-family: $heading;
  font-weight: $bold;
  color: var(--textColor);
  text-decoration: none;
  transition: color 200ms;
  margin-top: rem(20px);

  &:hover,
  &:focus {
    color: var(--primary);
  }

  span {
    border-bottom: 2px solid var(--primary);
  }

  @media (min-width: $md) {
    font-size: rem(20px);
  }
}
