@import "../globals/imports.scss";

.mainContent {
  min-height: calc(100vh - #{rem(100px)});
}

.pageContent {
  max-width: $wrapper;
  padding-left: rem(20px);
  padding-right: rem(20px);
  margin: 0 auto;

  @media (min-width: $md) {
    padding-top: rem(100px);
    padding-left: rem(40px);
    padding-right: rem(40px);
  }
}

.postContent {
  max-width: $wrapper;
  padding-left: rem(20px);
  padding-right: rem(20px);
  margin: 0 auto;

  @media (min-width: $md) {
    padding-top: rem(100px);
    padding-left: rem(40px);
    padding-right: rem(40px);
  }
}

.articleBody {
  max-width: rem(900px);
  margin: 0 auto;
}

.postsGrid {
  list-style: none;
  margin: rem(20px) auto;
  padding: rem(20px) 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: rem(40px);

  @supports (display: grid) {
    margin: unset;
    padding: unset;
  }

  @media (min-width: $sm) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: rem(40px);
  }

  @media (min-width: $lg) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(60px);
  }
}
