@import '../globals/variables.scss';

:root {
  --gutter: 1rem;
}

.postsGrid {
  max-width: 32em;
  margin: 3em auto;
  padding: 1em;

  @supports (display: grid) {
    max-width: none;
    margin: unset;
    padding: unset;
  }

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--gutter);

  @media (min-width: $sm) {
    --gutter: 3rem;
  }
}

.postContent {
  max-width: 65ch;
}