@import "../globals/imports.scss";

figcaption {
  font-weight: 200;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.link {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  transition: transform 200ms ease-in-out;
  transform-origin: top left;

  @media (min-width: $sm) {
    font-size: 1rem;
  }
}

.linkWithIcon {
  composes: link;

  span {
    padding-left: 1.8rem;
  }
}

.linkIcon {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  position: relative;
  left: 1.2rem;
  z-index: 1;
  fill: $black;
}

.footer {
  padding: rem(20px);
  font-family: $heading;
  margin-top: rem(40px);
  background-color: lighten($black, 85%);
}
